<body id="page-top">

<!-- Navigation Toolbar-->
<app-navigation></app-navigation>
    
 <!-- Master Header-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">RenoTrack</div>
        <div class="masthead-heading">Journal Your Renovation</div>
        <div *ngIf="!authService.isAuthenticated()">
            <button type="button" class="btn btn-warning text-uppercase" (click)="clearData()" data-bs-toggle="modal" 
                href="#registerModal1">Register</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-warning text-uppercase" (click)="clearData()"data-bs-toggle="modal" 
                href="#loginModal">Login</button>
        </div>
    </div>
</header>

<!-- Register Modal 1-->
<div class="modal fade" id="registerModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-black">
            <img src="assets/Images/RenoTrack_Logo.jpg" alt="Logo" width="70%"/>
        </div>
        <div class="modal-body">
            <div *ngIf="!isEmailEntered()">
                <app-verify-email></app-verify-email>
            </div>
          <div *ngIf="isEmailEntered()">
            <form (ngSubmit)="matchCode()">
                <input type="text" [(ngModel)]="enteredCode" name="enteredCode" placeholder="OTP">
                <button type="submit">Submit</button>
            </form>
          </div>
          <div class="alert" [ngClass]="{'alert-primary': message, 'alert-light': !message}">
            <span>{{ message }}</span></div>
            <a *ngIf="!isCodeMatch()" data-bs-toggle="modal" href="#loginModal"><b>Have an account? Login!</b></a>
            <a *ngIf="isCodeMatch()" data-bs-toggle="modal" href="#registerModal2"><b>Continue Registration</b></a>
        </div>
      </div>
    </div>
  </div>

<!-- Register Modal 2 (Email Verified) -->
<div class="modal fade" id="registerModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-black">
            <img src="assets/Images/RenoTrack_Logo.jpg" alt="Logo" width="70%"/>
        </div>
        <div class="modal-body" *ngIf="email != undefined">
          <app-register></app-register>
          <div class="alert" [ngClass]="{'alert-primary': message, 'alert-light': !message}">
            <span>{{ message }}</span></div>
        </div>
      </div>
    </div>
  </div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-black">
            <img src="assets/Images/RenoTrack_Logo.jpg" alt="Logo" width="70%"/>
        </div>
        <div class="modal-body">
          <app-login></app-login>
          <div class="alert" [ngClass]="{'alert-primary': message, 'alert-light': !message}">
            <span>{{ message }}</span></div>
            <a *ngIf="!authService.isAuthenticated()" data-bs-toggle="modal" href="#registerModal1"><b>New user? Register an account!</b></a>
        </div>
      </div>
    </div>
  </div>
  
<!-- App Features-->
<section class="page-section" id="features">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Features</h2>
            <h3 class="section-subheading text-muted">A journal for your home renovation project</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4>Photo Journal</h4>
                <p class="text-muted">Upload photos of your renovation progress here! Your photo journal serves as a visual documentation of your renovation progress and experiences, capturing moments and memories through photographs.</p>
            </div>
            <div class="col-md-4">
                <h4>Scheduler</h4>
                <p class="text-muted">Plan, organize, and manage your renovation timeline! A scheduler helps you organize and schedule tasks, collaborate with external parties, and is a reminder of key milestones, ensuring that you stay on track.</p>
            </div>
            <div class="col-md-4">
                <h4>Expense Tracker</h4>
                <p class="text-muted">Keep track of your renovation expenses! Monitor how much money you are spending and where it is being allocated, so that you may make necessary adjustments to stay within your budget.</p>
            </div>
        </div>
    </div>
</section>
  
<!-- LookBook-->
<section class="page-section bg-light" id="lookbook">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Look Book</h2>
            <h3 class="section-subheading text-muted">Editor's Choice Q2-2023 - Curated grid of show units in Singapore</h3>
        </div>
        <app-lookbook></app-lookbook>
    </div>
</section>
  
<!-- Unsplash-->
<section class="page-section" id="unsplash">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Unsplash</h2>
            <h3 class="section-subheading text-muted">Search for inspiration from a library of visuals, powered by creators everywhere</h3>
        </div>
        <app-search-unsplash></app-search-unsplash>
    </div>
</section>
  
<!-- MoodBoard-->
<section class="page-section bg-light" id="moodboard">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mood Board</h2>
            <h3 class="section-subheading text-muted">Create your own mood board with these apps and softwares</h3>
        </div>
        <app-moodboard></app-moodboard>
    </div>
</section>
  
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact</h2>
            <h3 class="section-subheading text-muted">Any queries or feedback? Let us know! You may also visit us for assistance to kick-start your renovation journey.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h4 class="section-subheading text-uppercase">Locate Us</h4>
                <h6 class="section-subheading text-muted">
                    <p>
                        140 Paya Lebar Road<br>
                        #10-26 AZ@Paya Lebar<br>
                        Singapore 409015
                    </p>
                    <p>
                        Mobile: +65 90065786<br>
                        Email: renotrackr@gmail.com
                    </p>
                </h6>
            </div>
            <div class="col-md-6 col-sm-4 d-flex flex-column justify-content-center">
                <app-map></app-map>
            </div>
        </div>
    </div>
</section>
    
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; 2023 www.renotrackr.com</div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

</body>