<!-- Navigation Toolbar -->
<app-navigation></app-navigation>

<!-- Angular Scheduler -->
<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Scheduler</h2>
            <h3 class="section-subheading text-muted">Plan your schedule, mark key milestones, or plot your appointments!</h3>
        </div>
        <div>
            <ejs-schedule #scheduleObj height='550px' [currentView]="setView" [eventSettings]="{dataSource: data}" 
            (actionBegin)="onActionBegin($event)"></ejs-schedule>
        </div>
    </div>
</section>

