<!-- Edit Existing Expense -->
<div class="container">
  <div class="header bg-black">
    <h2 style="color: #ffc800;">Edit Expense</h2>
  </div><br>
    <form [formGroup]="editExpenseForm" (ngSubmit)="updateExpense()">
      <table>
        <tr>
          <td>Date:</td>
          <td><input type="date" id="date" formControlName="date"></td>
        </tr>
        <tr>
          <td>Category:</td>
          <td>
            <select id="category" formControlName="category">
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Business:</td>
          <td><input type="text" id="business" formControlName="business"></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><input type="text" id="description" formControlName="description"></td>
        </tr>
        <tr>
          <td>Amount:</td>
          <td><input type="number" id="amount" formControlName="amount"></td>
        </tr>
        <tr>
          <td>Payment:</td>
          <td><input type="number" id="payment" formControlName="payment"></td>
          <td><button type="submit" [disabled]="invalidEntry()">Update</button></td>
        </tr>
      </table><br>
  
      <div class="error" *ngIf="invalidControl('date')">
        Please key in a date
      </div>
      <div class="error" *ngIf="invalidControl('category')">
        Please select a category</div>
      <div class="error" *ngIf="invalidControl('business')">
        Business must be min 2 characters</div>
      <div class="error" *ngIf="invalidControl('description')">
        Description must be min 2 characters</div>
      <div class="error" *ngIf="invalidControl('amount')">
        Expense amount needs to be a minimum of 1cent</div>
      <div class="error" *ngIf="invalidControl('payment')">
        Please enter amount paid</div>
      <div class="error" *ngIf="paymentLogic()">
        Payment made cannot be greater than expense</div>
  
    </form>
