<!-- Navigation Toolbar -->
<app-navigation></app-navigation>

<!-- Expense Tracker -->
<section class="page-section" style="padding-bottom: 2rem;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Expense Tracker</h2>
            <h3 class="section-subheading text-muted">Plan your budget, track your expenses, and keep an account of outstanding payments.</h3>
        </div>
    </div>
</section>

<!-- Empty Page -->
  <div class="container empty-page" *ngIf="totalAmount == 0">
    <div class="empty-font">
      <h2>Record your first expense!</h2>
      <button class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark" 
          data-bs-toggle="modal" href="#createModal">Add Expense</button><br>
    </div>
  </div>

<!-- Expense Summary and Amount By Category -->
<section class="page-section bg-light" *ngIf="totalAmount != 0">
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-center">Expense Summary</h2><br>
                <table class="table border-table">
                  <tbody>
                    <tr>
                      <th class="category-divider">Total Amount</th>
                      <td>{{ totalAmount }}</td>
                    </tr>
                    <tr>
                      <th class="category-divider">Total Payment</th>
                      <td>{{ totalPayment }}</td>
                    </tr>
                    <tr>
                      <th class="category-divider">Total Balance</th>
                      <td>{{ totalBalance }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-center">Expense By Category</h2><br>
                <table class="table border-table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th class="category-divider">Category</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr *ngFor="let categorySum of categorySummaries">
                      <td class="category-divider">{{ categorySum.category }}</td>
                      <td>{{ categorySum.sum }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  </div>
</section>

<!-- Expense Details -->
<section class="page-section" *ngIf="totalAmount != 0">
    <div class="container">
        <div class="text-center">
        <h2>Expense Details</h2>
        <button class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark" 
        data-bs-toggle="modal" href="#createModal">Add Expense</button><br>
        <table class="table border-table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="category-divider">Category</th>
                    <th>Date</th>
                    <th>Business</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Payment</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let expense of expenses">
                    <td class="category-divider">{{ expense.category }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.business }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.payment }}</td>
                    <td>
                      <div *ngIf="expense.balance === 0">{{ expense.balance }}</div>
                      <div *ngIf="expense.balance > 0" style="color: red;">{{ expense.balance }}</div>
                    </td>
                    <td>               
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark" (click)="onEditExpense(expense.expenseId)">Edit</button>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" mdbRipple rippleColor="dark" (click)="onDeleteExpense(expense.expenseId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

      </div>
    </div>
</section>

<!-- Create Expense Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-black">
        <h2 style="color: #ffc800;">Create Expense</h2><br>
      </div>
      <div class="modal-body">
        <app-create-expense></app-create-expense>
      </div>
    </div>
  </div>
</div>