<!-- Account Registration -->
<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <input type="text" placeholder="Name" formControlName="userName">
  <input type="email" placeholder="Email" formControlName="userEmail" readonly>
  <input type="password" placeholder="Password" formControlName="userPassword">
  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
  <button type="submit" [disabled]="invalidEntry()">Register</button>

  <div class="error" *ngIf="invalidControl('userName')">
    Name must be min 2 characters</div>
  <div class="error" *ngIf="invalidControl('userPassword')">
    Password must be min 8 characters</div>
  <div class="error" *ngIf="unmatchedPW()">
    Passwords do not match</div>
</form>