<!-- LookBook Grid-->
<div class="row">
    
    <!-- Grid 1-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal1">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_1.jpg"/>
        </a>
    </div>

    <!-- Grid 2-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal2">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_2.jpg"/>
        </a>
    </div>

    <!-- Grid 3-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal3">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_3.jpg"/>
        </a>
    </div>

    <!-- Grid 4-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal4">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_4.jpg"/>
        </a>
    </div>

    <!-- Grid 5-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal5">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_5.jpg"/>
        </a>
    </div>

    <!-- Grid 6-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal6">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_6.jpg"/>
        </a>
    </div>

    <!-- Grid 7-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal7">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_7.jpg"/>
        </a>
    </div>

    <!-- Grid 8-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal8">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_8.jpg"/>
        </a>
    </div>

    <!-- Grid 9-->
    <div class="lookbook col-lg-4 col-sm-6 mb-4">
        <a class="lookbook-link" data-bs-toggle="modal" href="#gridModal9">
            <div class="lookbook-hover">
                <div class="lookbook-hover-content">+</div>
            </div>
            <img class="img-fluid" src="assets/Images/LookBook_9.jpg"/>
        </a>
    </div>

</div>

<!-- LookBook Modals-->
<!-- Grid modal 1-->
<div class="portfolio-modal modal fade" id="gridModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Piermont Grand</h2>
                        <h5 class="text-muted">3 Bedroom Loft</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_1.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                The Mind Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://www.theminddesign.com.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 2-->
<div class="portfolio-modal modal fade" id="gridModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Lush Acres Fernvale</h2>
                        <h5 class="text-muted">3 Bedroom Loft</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_2.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                The Mind Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://www.theminddesign.com.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 3-->
<div class="portfolio-modal modal fade" id="gridModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Parc Botannia</h2>
                        <h5 class="text-muted">4 Bedroom Loft</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_3.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                The Mind Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://www.theminddesign.com.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 4-->
<div class="portfolio-modal modal fade" id="gridModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Changi Rise</h2>
                        <h5 class="text-muted">3 Bedroom Condo</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_4.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                Casa Interior Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://casaid.com.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 5-->
<div class="portfolio-modal modal fade" id="gridModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Piermont Grand</h2>
                        <h5 class="text-muted">3 Bedroom Loft</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_5.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                Weiken.com Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://www.weiken.com/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 6-->
<div class="portfolio-modal modal fade" id="gridModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">The Terrace</h2>
                        <h5 class="text-muted">3 Bedroom Condo</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_6.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                3D Innovations Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://www.3dinnovations.com.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 7-->
<div class="portfolio-modal modal fade" id="gridModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Bedok</h2>
                        <h5 class="text-muted">3 Bedroom HDB</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_7.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                Earth Interior Design Pte Ltd
                            </li>
                            <li>
                                <a href="https://earthid.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 8-->
<div class="portfolio-modal modal fade" id="gridModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Sixteen 35 Residences</h2>
                        <h5 class="text-muted">2 Bedroom Condo</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_8.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                RenoNerds Pte Ltd
                            </li>
                            <li>
                                <a href="https://renonerds.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid modal 9-->
<div class="portfolio-modal modal fade" id="gridModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">Close</div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Project details-->
                        <h2 class="text-uppercase">Clementi</h2>
                        <h5 class="text-muted">3 Bedroom HDB</h5>
                        <img class="img-fluid d-block mx-auto" src="assets/Images/LookBook_9.jpg"/>
                        <ul class="list-inline">
                            <li>
                                <strong>Designed By:</strong>
                                Zenith Arc Pte Ltd
                            </li>
                            <li>
                                <a href="https://zenitharc.com.sg/" target="_blank">Visit this Interior Design Firm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>