<p>
    Mood boards play a crucial role in your home renovation process. They serve as a creative platform to gather and organize inspiration from various sources such as show units, open source images, 
    furniture catalogues, paint and fabric swatches, and allow you to visually explore and experiment with different design concepts, styles, color schemes, and materials. Mood boards provide designers 
    a reference for creating cohesive and visually appealing interior designs, and aid in communicating your design ideas with collaborators.
</p>

<!-- MoodBoard Grid-->
<div class="row">
    
    <!-- Grid 1-->
    <div class="moodboard col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="assets/Images/MoodBoard_1.jpg"/>
        <div class="moodboard-caption">
            <a class="moodboard-caption-heading" href="https://www.pinterest.com/" target="_blank">Pinterest</a>
            <div class="moodboard-caption-subheading text-muted">Find inspiration, create mood boards effortlessly on Pinterest and organize your projects into multiple boards</div>
        </div>
    </div>

    <!-- Grid 2-->
    <div class="moodboard col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="assets/Images/MoodBoard_2.jpg"/>
        <div class="moodboard-caption">
            <a class="moodboard-caption-heading" href="https://evernote.com/" target="_blank">Evernote</a>
            <div class="moodboard-caption-subheading text-muted">Create separate notebooks for different projects and add images to the notebook to make your own mood board</div>
        </div>
    </div>

    <!-- Grid 3-->
    <div class="moodboard col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="assets/Images/MoodBoard_3.jpg"/>
        <div class="moodboard-caption">
            <a class="moodboard-caption-heading" href="https://www.canva.com/" target="_blank">Canva</a>
            <div class="moodboard-caption-subheading text-muted">Search images within Canva and add them to your collage mood boards using the app's templates and stickers</div>
        </div>
    </div>

    <!-- Grid 4-->
    <div class="moodboard col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="assets/Images/MoodBoard_4.jpg"/>
        <div class="moodboard-caption">
            <a class="moodboard-caption-heading" href="https://www.adobe.com/sg/products/illustrator.html" target="_blank">Adobe Illustrator</a>
            <div class="moodboard-caption-subheading text-muted">Exercise extensive design flexibility in creating your mood boards if you have access to the Adobe Creative Cloud</div>
        </div>
    </div>

    <!-- Grid 5-->
    <div class="moodboard col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="assets/Images/MoodBoard_5.jpg"/>
        <div class="moodboard-caption">
            <a class="moodboard-caption-heading" href="http://www.gomoodboard.com/" target="_blank">Moodboard</a>
            <div class="moodboard-caption-subheading text-muted">A beginner-friendly, straightforward interface that offers you templates or starter mood boards to choose from</div>
        </div>
    </div>

    <!-- Grid 6-->
    <div class="moodboard col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="assets/Images/MoodBoard_6.jpg"/>
        <div class="moodboard-caption">
            <a class="moodboard-caption-heading" href="https://foyr.com/neo-interior-design-software/" target="_blank">Foyr Neo</a>
            <div class="moodboard-caption-subheading text-muted">Create mood boards with AI-assisted 3D rendering, specifically built for the needs of interior designers</div>
        </div>
    </div>

</div>

<p>Images Credit: Home Deco | The Gem Picker</p>